<!DOCTYPE html> 
<html>
    <head>
        <title>Home Page</title>
    </head>

    <body>
        <h1><%= student.name %></h1>
        <h1><%= student.department %></h1>
        <h1><%= student.contact %></h1>
    </body>
</html>